<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AnastasiaAssistantProject.Properties.UserInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AnastasiaAssistantProject.Properties.UserFavorGanre" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AnastasiaAssistantProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AnastasiaAssistantProject.Properties.UserInfo>
            <setting name="house" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="trap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="electronic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="blues" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="funky" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="altrock" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dubstep" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hiphop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="moombahton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="trance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="futurebass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="deephouse" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="drumbass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rock" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="instrumental" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alternative" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="glitchhop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="electrohouse" serializeAs="String">
                <value>0</value>
            </setting>
        </AnastasiaAssistantProject.Properties.UserInfo>
        <AnastasiaAssistantProject.Properties.UserFavorGanre>
            <setting name="house" serializeAs="String">
                <value />
            </setting>
            <setting name="dance" serializeAs="String">
                <value />
            </setting>
            <setting name="trap" serializeAs="String">
                <value />
            </setting>
            <setting name="electronic" serializeAs="String">
                <value />
            </setting>
            <setting name="blues" serializeAs="String">
                <value />
            </setting>
            <setting name="funky" serializeAs="String">
                <value />
            </setting>
            <setting name="altrock" serializeAs="String">
                <value />
            </setting>
            <setting name="dubstep" serializeAs="String">
                <value />
            </setting>
            <setting name="hiphop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="moombahton" serializeAs="String">
                <value />
            </setting>
            <setting name="trance" serializeAs="String">
                <value />
            </setting>
            <setting name="pop" serializeAs="String">
                <value />
            </setting>
            <setting name="futurebass" serializeAs="String">
                <value />
            </setting>
            <setting name="deephouse" serializeAs="String">
                <value />
            </setting>
            <setting name="drumbass" serializeAs="String">
                <value />
            </setting>
            <setting name="rock" serializeAs="String">
                <value />
            </setting>
            <setting name="instrumental" serializeAs="String">
                <value />
            </setting>
            <setting name="alternative" serializeAs="String">
                <value />
            </setting>
            <setting name="glitchhop" serializeAs="String">
                <value />
            </setting>
            <setting name="electrohouse" serializeAs="String">
                <value />
            </setting>
        </AnastasiaAssistantProject.Properties.UserFavorGanre>
        <AnastasiaAssistantProject.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="MusicFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="changelog" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramUserSurName" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramUserID" serializeAs="String">
                <value />
            </setting>
        </AnastasiaAssistantProject.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
