<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AnastasiaAssistant.Properties.UserInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AnastasiaAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />

        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AnastasiaAssistant.Properties.UserInfo>
            <setting name="house" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="trap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="electronic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="blues" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="funky" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="altrock" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dubstep" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hiphop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="moombahton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="trance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="futurebass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="deephouse" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="drumbass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rock" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="instrumental" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alternative" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="glitchhop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="electrohouse" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="newcommandcount" serializeAs="String">
                <value>0</value>
            </setting>
        </AnastasiaAssistant.Properties.UserInfo>
        <AnastasiaAssistant.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="MusicFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramUserID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TelegramUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramUserSurName" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstTimeOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnastasiaID" serializeAs="String">
                <value />
            </setting>
            <setting name="AnastasiaName" serializeAs="String">
                <value />
            </setting>
            <setting name="AnastasiaSurname" serializeAs="String">
                <value />
            </setting>
            <setting name="AnastasiaLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="changelog" serializeAs="String">
                <value />
            </setting>
        </AnastasiaAssistant.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.6.417" newVersion="5.1.6.417" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>